header {
	text-align: center;
}

nav {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#navbar {
	list-style-type: none;
}

li {
	margin: 5px;
	display: inline-block;
}

a {
	color: black;
	padding: 5px;
	transition: background-color 0.5s ease;
	text-decoration: none;
}

a:hover {
	background-color: orange;
	cursor: pointer;
}

a:visited {
	color: black;
}

div.dropdowncontent {
	display: none;
	position: absolute;
	background-color: grey;
	border: 1px solid black;
	border-radius: 10px;
}

div.dropdowncontent a {
	border-radius: 10px;
	display: block;
}

li.dropdown:hover div.dropdowncontent{
	display: block;
	cursor: pointer;
}